apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-data
  namespace: collection-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: standard
